@include keyframes(moveOut) {
  to {
    opacity: 0;
    @include transform(translateX(-300px));
  }
}

@include keyframes(flipIn) {
  from {
    opacity: 0;
    @include transform(perspective(300px) rotateX(45deg));
  }
  to {
    opacity: 1;
    @include transform(perspective(300px) rotateX(0deg));
  }
}
