@import "app/assets/stylesheets/bourbon/bourbon";
@import "app/assets/stylesheets/animations";

@media(min-width: 979px) {
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

$animationSpeed: 0.5s;
$animationDelay: 0.1s;

.registration-add.registration-add-active {
  @include backface-visibility(visible);
  @include transform-origin(top left);
  @include animation(flipIn $animationSpeed both $animationDelay);
}

.registration-remove.registration-remove-active {
  opacity: 1;
  @include animation(moveOut $animationSpeed $animationDelay ease forwards);
}
