.container-fluid
  .row-fluid
    .span12
      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#hours", "data-toggle" => "tab"} Hour registration
        %li
          %a{:href => "#projects", "data-toggle" => "tab"} Projects
  .tab-content
    .tab-pane.active{:id => "hours", "ng-controller" => "RegistrationCtrl"}
      = haml :registrations

    .tab-pane{:id => "projects", "ng-controller" => "ProjectCtrl"}
      = haml :projects
