!!! 5
%html{:lang => "en"}
  %head
    %title TimeTrackr
    %link{:rel => "stylesheet", :href => "/vendor/bootstrap/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/vendor/bootstrap/css/bootstrap-responsive.min.css"}
    %link{:rel => "stylesheet", :href => "/vendor/font-awesome/css/font-awesome.min.css"}
    /[if IE 7] <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome-ie7.min.css">

    %link{:rel => "stylesheet", :href => "#{nocache('/stylesheets/application.css')}"}

  %body{"ng-app" => "timeTrackr"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href =>"/"} TimeTrackr

    .container
      =yield
      %hr

      %footer.pull-right
        %p<
          &copy; by
          %a{:href => "http://manuel.manuelles.nl/"}
            Manuel van Rijn
          #{Time.now.year}

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    :javascript
      !window.jQuery && document.write('<script src="/vendor/jquery-1.7.1.min.js"><\/script>')
    %script{:src => "/vendor/bootstrap/js/bootstrap.min.js"}
    %script{:src => "/vendor/angular.min.js"}
    %script{:src => "#{nocache('/javascripts/application.js')}"}
