.row-fluid
  .span6
    %h4
      Projects
      %span.badge {{(projects | filter: {active: 'true'}).length}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th #
          %th Name
          %th Rate
          %th Actions
      %tbody
        %tr{"ng-repeat" => "project in projects | filter: {active: 'true'}"}
          %td {{project.id}}
          %td {{project.name}}
          %td {{project.rate | currency:"&euro; "}}
          %td
            %button.btn.btn-small{"ng-click" => "editProject(project)"}
              %i.icon-pencil
              edit
            %button.btn.btn-small.btn-danger{"ng-click" => "deleteProject(project)"}
              %i.icon-archive
              archive
    %h4
      Archived projects
      %span.badge {{(projects | filter: {active: 'false'}).length}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th #
          %th Name
          %th Rate
          %th Actions
      %tbody
        %tr{"ng-repeat" => "project in projects | filter: {active: 'false'}"}
          %td {{project.id}}
          %td {{project.name}}
          %td {{project.rate | currency:"&euro; "}}
          %td
            %button.btn.btn-small{"ng-click" => "undeleteProject(project)"}
              %i.icon-undo
              unarchive
  .span6
    %h4 Add a new project
    %form.form-horizontal.well{:name => "projectForm", :id => "projectForm", :novalidate => true}
      .control-group
        %label.control-label{:for => "name"} Name
        .controls
          %input{:type => "text", :id => "name", :placeholder => "Project name", :required => true, "ng-model" => "project.name"}
      .control-group
        %label.control-label{:for => "rate"} Rate
        .controls
          %input{:type => "text", :id => "rate", :placeholder => "10.00", :required => true, "ng-model" => "project.rate"}
      .control-group
        .controls
          %button.btn.btn-primary{"ng-show" => "project.id > 0", "ng-click" => "updateProject()"}
            %i.icon-pencil
            Update
          %button.btn{"ng-show" => "project.id > 0", "ng-click" => "project = {}"}
            %i.icon-undo
            Cancel
          %button.btn.btn-success{"ng-show" => "!project.id", "ng-click" => "addProject()"}
            %i.icon-plus
            Add
