.row-fluid
  .span8
    %h2 Hours
    %form.form-inline{:id => "registrationForm", :name => "registrationForm", :novalidate => true}
      %input{:type=>"number", :required => true, :min => "1", :placeholder => "Hours worked", "ng-model" => "registration.hours"}
      %select{:required => true, "ng-model" => "registration.projectId", "ng-options" => "p.id as p.name for p in projects | filter: {active: 'true'}"}

      %button.btn.btn-primary{"ng-show" => "registration.id > 0", "ng-click" => "updateRegistration()"}
        %i.icon-pencil
        Update
      %button.btn{"ng-show" => "registration.id > 0", "ng-click" => "registration = {}"}
        %i.icon-undo
        Cancel
      %button.btn.btn-success{"ng-show" => "!registration.id", "ng-click" => "addRegistration()"}
        %i.icon-plus
        Add
  .span4.hidden-phone
    .well.text-center
      %h1
        &euro; {{totals().earned}}
        %small Costs
      %h2
        {{totals().hours}}
        %small Hours worked

.row-fluid
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th Hours
          %th Costs
          %th Project
          %th Actions
      %tbody
        %tr{"ng-repeat" => "registration in registrations", "ng-animate" => "{enter: 'registration-add', leave: 'registration-remove'}"}
          %td {{registration.hours}}
          %td {{getProject(registration.projectId).rate * registration.hours | currency:"&euro; "}}
          %td
            %span.label.label-inverse{"ng-show" => "!getProject(registration.projectId).active"}
              Archived
            {{getProject(registration.projectId).name}}
          %td
            %button.btn.btn-small{"ng-click" => "editRegistration(registration)"}
              %i.icon-edit
              edit
            %button.btn.btn-small.btn-danger{"ng-click" => "deleteRegistration(registration)"}
              %i.icon-trash
              delete
